.availability-table {
  border-collapse: collapse;
  width: 50%;
  flex-direction: right;
}

.availability-table th{
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
.availability-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  width: 70px;
}

.availability-cell {
  background-color: #f0f0f0;
  cursor: pointer;
  width: 65px
}

.selected {
  background-color: rgb(38, 133, 41);
}

.content-wrapper {
  display: flex;
}

.entry{
  flex-direction: row;
}
.name-entry {
  flex: 0;
  padding-top: 20%;
  padding-left: 20%;
}
.subteam-entry{
  padding-top: 5%;
  padding-left:20%;
}